.member-card{
    margin:0;
    padding:0.5rem;
    width:10rem;
    min-height:15rem;
    text-align: center;
    background-color:#ebebeb;
    border-radius: 1rem;
    box-shadow:0.25rem 0.5rem 0.5rem rgba(0,0,0,0.2);
    margin:0.5rem;
    
}



.photo{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    object-position: top;
    border:4px solid white;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.nick{
    padding:0;
    margin:1rem;
}


.team{
    padding:0;
    margin:0;
    color:#1b31bb;
    font-weight: bold;
}

